<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Я все умею сам!</title>
</head>
<header>
    <nav>
        <ul>
            <li> <a href = "#"> Главная </a> </li>
            <li> <a href = "#"> О нас </a> </li>
            <li> <a href = "#"> Контакты </a> </li>
        </ul>
    </nav>
</header>
<body>
    <H1>TEST THIS FIRST PROJECT</H1>
    <H2>TEST THIS FIRST PROJECT</H2>
    <H3>TEST THIS FIRST PROJECT</H3>
    <H4>TEST THIS FIRST PROJECT</H4>
    <H5>TEST THIS FIRST PROJECT</H5>
    <H6>TEST THIS FIRST PROJECT</H6>
</body>
<footer>
    <h3>This is Footer</h3>
</footer>
</html>